Repository Dallas-College-LMIC/spatial-jobs-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, backend-unit-tests, frontend-lint, frontend-type-check, frontend-tests

ruff:
  name: ruff
  entry: just backend::lint
  language: system

mypy:
  name: mypy
  entry: just backend::type-check
  language: system
  require_serial: true

backend-unit-tests:
  name: Backend Unit Tests
  entry: just backend::unit-test
  language: system
  require_serial: true

frontend-lint:
  name: Frontend ESLint
  entry: just frontend::lint
  language: system
  require_serial: true

frontend-type-check:
  name: Frontend TypeScript Check
  entry: just frontend::type-check
  language: system
  require_serial: true

frontend-tests:
  name: Frontend Unit Tests
  entry: just frontend::test
  language: system
  require_serial: true

feat: enhance frontend type safety with coordinate and error types
  IMPROVEMENT_PLAN.md
  frontend/src/__tests__/unit/types/api-type-safety.test.ts
  frontend/src/js/api.ts
  frontend/src/types/api.ts
Due: frontend-lint, frontend-type-check, frontend-tests

fix: enable filename passing for frontend ESLint pre-commit hook
  .pre-commit-config.yaml
Due: none

test: trigger ESLint pre-commit hook
  frontend/src/types/api.ts
Due: frontend-lint, frontend-type-check, frontend-tests

cleanup: remove test comment
  frontend/src/types/api.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: standardize async/await patterns in frontend main entry points
  IMPROVEMENT_PLAN.md
  frontend/src/__tests__/unit/async-patterns/async-await-standardization.test.ts
  frontend/src/js/occupation-main.ts
  frontend/src/js/school-main.ts
Due: frontend-lint, frontend-type-check, frontend-tests

fix: update backend tests to match structured error format
  backend/tests/integration/test_api_integration.py
  backend/tests/test_example_endpoints.py
Due: ruff, mypy, backend-unit-tests

docs: update improvement plan with Phase 1 completion summary
  IMPROVEMENT_PLAN.md
Due: none

fix: resolve pre-commit hook file path issues
  .pre-commit-config.yaml
Due: none

chore: update TDD Guard dependencies
  backend/pyproject.toml
  backend/uv.lock
  flake.nix
Due: none

feat: implement structured logging with correlation ID support
  IMPROVEMENT_PLAN.md
  backend/app/logging_config.py
  backend/app/occupation_cache.py
  backend/app/repositories/base.py
  backend/tests/unit/test_logging.py
Due: ruff, mypy, backend-unit-tests

fix: migrate school_of_study repository to structured logging
  backend/app/repositories/school_of_study.py
Due: ruff, mypy, backend-unit-tests

update tdd-guard
  backend/pyproject.toml
  backend/pytest.ini
  backend/uv.lock
Due: none

fix: convert geoid values to strings to resolve Pydantic validation error
  backend/app/repositories/occupation.py
  backend/app/repositories/school_of_study.py
  backend/app/repositories/travel_time.py
Due: ruff, mypy, backend-unit-tests

fix: update tdd-guard to v0.8.1 to resolve npm registry issues
  flake.nix
Due: none

feat: enhance map popup with additional data fields
  frontend/src/__tests__/unit/utils/mapUtils.test.ts
  frontend/src/js/mapUtils.ts
Due: frontend-lint, frontend-type-check, frontend-tests

test: verify pre-commit hook fix
  frontend.just
Due: none

Implement structured logging and improve code quality (#24)
  .pre-commit-config.yaml
  IMPROVEMENT_PLAN.md
  backend.just
  backend/app/database.py
  backend/app/logging_config.py
  backend/app/main.py
  backend/app/occupation_cache.py
  backend/app/repositories/base.py
  backend/app/repositories/school_of_study.py
  backend/pyproject.toml
  backend/pytest.ini
  backend/tests/integration/test_api_integration.py
  backend/tests/test_example_endpoints.py
  backend/tests/unit/test_logging.py
  backend/tests/unit/test_main.py
  backend/uv.lock
  flake.nix
  frontend.just
  frontend/eslint.config.js
  frontend/gh-errors.txt
  frontend/src/__tests__/unit/async-patterns/async-await-standardization.test.ts
  frontend/src/__tests__/unit/services/occupationCacheService.test.ts.bak
  frontend/src/__tests__/unit/types/api-type-safety.test.ts
  frontend/src/js/api.ts
  frontend/src/js/controllers/TravelTimeMapController.ts
  frontend/src/js/occupation-main.ts
  frontend/src/js/school-main.ts
  frontend/src/types/api.ts
Due: ruff, mypy, backend-unit-tests, frontend-lint, frontend-type-check, frontend-tests

feat: enhance map popup with additional data fields and improve system architecture (#31)
  backend/app/repositories/occupation.py
  backend/app/repositories/school_of_study.py
  backend/app/repositories/travel_time.py
  flake.nix
  frontend/src/__tests__/unit/utils/mapUtils.test.ts
  frontend/src/js/mapUtils.ts
Due: ruff, mypy, backend-unit-tests, frontend-lint, frontend-type-check, frontend-tests

fix: prevent information leakage in error responses (fixes #28)
  backend/app/main.py
  backend/docs/security-fix-28.md
  backend/tests/unit/test_error_security.py
  backend/tests/unit/test_main.py
  backend/tests/unit/test_school_of_study_endpoints.py
Due: ruff, mypy, backend-unit-tests

test: update tests to match new secure error messages
  backend/tests/integration/test_api_integration.py
  backend/tests/test_example_endpoints.py
Due: ruff, mypy, backend-unit-tests

fix: Complete Correlation ID Middleware implementation (#26)
  backend/app/logging_config.py
  backend/app/main.py
  backend/docs/correlation-id-middleware.md
  backend/tests/integration/test_api_integration.py
  backend/tests/unit/test_logging.py
Due: ruff, mypy, backend-unit-tests

fix: Address PR review comments for correlation ID middleware
  backend/app/logging_config.py
  backend/app/main.py
  backend/docs/correlation-id-middleware.md
  backend/tests/integration/test_api_integration.py
  backend/tests/unit/test_logging.py
Due: ruff, mypy, backend-unit-tests

refactor: improve error handling with helper function
  backend/app/main.py
  backend/tests/integration/test_api_integration.py
  backend/tests/unit/test_error_handling_refactor.py
  backend/tests/unit/test_handle_internal_error_exists.py
  backend/tests/unit/test_school_of_study_endpoints.py
Due: ruff, mypy, backend-unit-tests

Fix Incomplete Correlation ID Middleware Implementation (#33)
  backend/app/logging_config.py
  backend/app/main.py
  backend/docs/correlation-id-middleware.md
  backend/tests/integration/test_api_integration.py
  backend/tests/unit/test_logging.py
Due: ruff, mypy, backend-unit-tests

fix: prevent information leakage in error responses (fixes #28) (#32)
  backend/app/main.py
  backend/docs/security-fix-28.md
  backend/tests/integration/test_api_integration.py
  backend/tests/test_example_endpoints.py
  backend/tests/unit/test_error_handling_refactor.py
  backend/tests/unit/test_error_security.py
  backend/tests/unit/test_handle_internal_error_exists.py
  backend/tests/unit/test_main.py
  backend/tests/unit/test_school_of_study_endpoints.py
Due: ruff, mypy, backend-unit-tests

feat: upgrade mapbox-gl from v1.12.0 to v3.14.0
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/mapUtils.ts
  frontend/src/types/mapbox.ts
Due: frontend-lint, frontend-type-check, frontend-tests

fix: improve Mapbox GL v3 type safety and remove anti-patterns
  frontend/src/__tests__/mocks/mapbox-gl.ts
  frontend/src/__tests__/setup.ts
  frontend/src/__tests__/unit/utils/mapUtils.test.ts
  frontend/src/js/mapUtils.ts
  frontend/src/types/mapbox.ts
Due: frontend-lint, frontend-type-check, frontend-tests

fix: correct path handling in frontend pre-commit lint hook
  frontend.just
  frontend/src/types/mapbox.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: upgrade Mapbox GL from v1.12.0 to v3.14.0 (#36)
  frontend.just
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/mocks/mapbox-gl.ts
  frontend/src/__tests__/setup.ts
  frontend/src/__tests__/unit/utils/mapUtils.test.ts
  frontend/src/js/mapUtils.ts
  frontend/src/types/mapbox.ts
Due: frontend-lint, frontend-type-check, frontend-tests

PLAN.md
  frontend/PLAN.md
Due: none

feat: add Vue 3 framework setup and configuration
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: frontend-type-check

docs: add Vue 3 migration planning and current functionality documentation
  frontend/CURRENT_FUNCTIONALITY.md
  frontend/PLAN.md
  frontend/vitest.config.backup.ts
Due: frontend-type-check

feat: complete Phase 1 of Vue 3 migration - foundation and setup
  frontend/PLAN.md
  frontend/src/vue/__tests__/components/App.test.ts
  frontend/src/vue/__tests__/composables/useMapbox.test.ts
  frontend/src/vue/__tests__/router/index.test.ts
  frontend/src/vue/__tests__/router/routes.test.ts
  frontend/src/vue/__tests__/stores/index.test.ts
  frontend/src/vue/components/App.vue
  frontend/src/vue/composables/useMapbox.ts
  frontend/src/vue/router/index.ts
  frontend/src/vue/stores/index.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: implement occupation store for Vue 3 migration (Phase 2.1)
  frontend/PLAN.md
  frontend/src/vue/stores/__tests__/occupation.test.ts
  frontend/src/vue/stores/occupation.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: add caching to occupation store and implement school of study store
  frontend/PLAN.md
  frontend/src/vue/stores/__tests__/occupation.test.ts
  frontend/src/vue/stores/__tests__/schoolOfStudy.test.ts
  frontend/src/vue/stores/occupation.ts
  frontend/src/vue/stores/schoolOfStudy.ts
Due: frontend-lint, frontend-type-check, frontend-tests

fix: resolve frontend test failures in occupation and school of study tests
  frontend/src/__tests__/unit/controllers/occupationMapController.search.test.ts
  frontend/src/__tests__/unit/controllers/occupationMapController.test.ts
  frontend/src/__tests__/unit/services/schoolOfStudyApiService.test.ts
  frontend/src/vue/__tests__/composables/useMapbox.test.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: implement UI store with TDD approach for Vue 3 migration (Phase 2.3)
  frontend/PLAN.md
  frontend/src/vue/stores/__tests__/ui.test.ts
  frontend/src/vue/stores/ui.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: complete Vue 3 UI foundation with components and store (Phases 1.9 & 2.3)
  frontend/src/env.d.ts
  frontend/src/vue/components/AppHeader.vue
  frontend/src/vue/components/LoadingSpinner.vue
  frontend/src/vue/components/Navigation.vue
  frontend/src/vue/components/__tests__/AppHeader.test.ts
  frontend/src/vue/components/__tests__/LoadingSpinner.test.ts
  frontend/src/vue/components/__tests__/Navigation.test.ts
  frontend/src/vue/stores/__tests__/occupation.test.ts
  frontend/src/vue/stores/__tests__/ui.test.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: complete Phase 1 base components and add persistence to occupation store
  frontend/PLAN.md
  frontend/src/vue/components/BaseLayout.vue
  frontend/src/vue/components/ErrorBoundary.vue
  frontend/src/vue/components/__tests__/BaseLayout.test.ts
  frontend/src/vue/components/__tests__/ErrorBoundary.test.ts
  frontend/src/vue/stores/occupation.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: implement map store with TDD approach for Vue 3 migration (Phase 2.4)
  frontend/PLAN.md
  frontend/src/vue/stores/__tests__/map.test.ts
  frontend/src/vue/stores/map.ts
Due: frontend-lint, frontend-type-check, frontend-tests

Path conditions:
  ruff: any of: ^backend/.*\.py$ and \.py$
  mypy: any of: ^backend/.*\.py$ and \.py$
  backend-unit-tests: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/src/.*\.(js|ts|jsx|tsx)$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-tests: any of: ^frontend/src/.*\.(js|ts|jsx|tsx)$
