Repository Dallas-College-LMIC/spatial-jobs-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, backend-unit-tests, frontend-lint, frontend-type-check, frontend-tests

ruff:
  name: ruff
  entry: just backend::lint
  language: system

mypy:
  name: mypy
  entry: just backend::type-check
  language: system
  require_serial: true

backend-unit-tests:
  name: Backend Unit Tests
  entry: just backend::unit-test
  language: system
  require_serial: true

frontend-lint:
  name: Frontend ESLint
  entry: just frontend::lint
  language: system
  require_serial: true

frontend-type-check:
  name: Frontend TypeScript Check
  entry: just frontend::type-check
  language: system
  require_serial: true

frontend-tests:
  name: Frontend Unit Tests
  entry: just frontend::test
  language: system
  require_serial: true

test: fix failing tests and skip deprecated legacy tests
  frontend/src/__tests__/unit/api.test.ts
  frontend/src/__tests__/unit/services/schoolOfStudyApiService.test.ts
  frontend/src/vue/stores/__tests__/occupation.test.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: implement API composables with TDD approach for Vue 3 migration (Phase 2.5)
  frontend/PLAN.md
  frontend/src/vue/composables/__tests__/useApi.test.ts
  frontend/src/vue/composables/__tests__/useOccupationApi.test.ts
  frontend/src/vue/composables/useApi.ts
  frontend/src/vue/composables/useOccupationApi.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: implement form components for Vue 3 migration (Phase 3.1)
  frontend/PLAN.md
  frontend/src/vue/components/OccupationSelect.vue
  frontend/src/vue/components/SchoolOfStudySelect.vue
  frontend/src/vue/components/__tests__/OccupationSelect.test.ts
  frontend/src/vue/components/__tests__/SchoolOfStudySelect.test.ts
Due: frontend-lint, frontend-type-check, frontend-tests

fix: resolve OccupationSelect test failures with proper event handling
  frontend/src/vue/components/OccupationSelect.vue
  frontend/src/vue/components/__tests__/OccupationSelect.test.ts
Due: frontend-lint, frontend-type-check, frontend-tests

remove outdated plan
  IMPROVEMENT_PLAN.md
Due: none

feat: complete Phase 3.1 form components for Vue 3 migration
  frontend/PLAN.md
  frontend/src/vue/components/FilterControls.vue
  frontend/src/vue/components/SearchForm.vue
  frontend/src/vue/components/__tests__/FilterControls.test.ts
  frontend/src/vue/components/__tests__/SearchForm.test.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: implement DataTable component for Vue 3 migration (Phase 3.2)
  frontend/src/vue/components/display/DataTable.vue
  frontend/src/vue/components/display/__tests__/DataTable.test.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: add dev server management commands
  justfile
  tools/run-dev.sh
  tools/stop-dev.sh
Due: none

update just
  .gitignore
  .mcp.json
  CLAUDE.md
  flake.nix
  justfile
  tools/postgres-mcp-wrapper.sh
Due: none

tools/local
  .gitignore
Due: none

feat: complete Phase 3.2 display components for Vue 3 migration
  frontend/PLAN.md
  frontend/src/vue/components/display/DataTable.vue
  frontend/src/vue/components/display/Legend.vue
  frontend/src/vue/components/display/PopupContent.vue
  frontend/src/vue/components/display/StatsPanel.vue
  frontend/src/vue/components/display/__tests__/DataTable.test.ts
  frontend/src/vue/components/display/__tests__/Legend.test.ts
  frontend/src/vue/components/display/__tests__/PopupContent.test.ts
  frontend/src/vue/components/display/__tests__/StatsPanel.test.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: implement MapContainer component for Vue 3 migration (Phase 3.3)
  frontend/PLAN.md
  frontend/src/vue/components/map/MapContainer.vue
  frontend/src/vue/components/map/__tests__/MapContainer.test.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: complete Phase 3.3 map components for Vue 3 migration
  frontend/PLAN.md
  frontend/src/vue/components/map/MapControls.vue
  frontend/src/vue/components/map/OccupationMap.vue
  frontend/src/vue/components/map/TravelTimeMap.vue
  frontend/src/vue/components/map/WageMap.vue
  frontend/src/vue/components/map/__tests__/MapControls.test.ts
  frontend/src/vue/components/map/__tests__/OccupationMap.test.ts
  frontend/src/vue/components/map/__tests__/TravelTimeMap.test.ts
  frontend/src/vue/components/map/__tests__/WageMap.test.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: complete Phase 3.4 map composables and Phase 3.5 page components for Vue 3 migration
  frontend/PLAN.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/vue/composables/__tests__/useMapData.test.ts
  frontend/src/vue/composables/__tests__/useMapInteractions.test.ts
  frontend/src/vue/composables/__tests__/useMapLayers.test.ts
  frontend/src/vue/composables/__tests__/useMapbox.test.ts
  frontend/src/vue/composables/useMapData.ts
  frontend/src/vue/composables/useMapInteractions.ts
  frontend/src/vue/composables/useMapLayers.ts
  frontend/src/vue/composables/useMapbox.ts
  frontend/src/vue/pages/HomePage.vue
  frontend/src/vue/pages/OccupationPage.vue
  frontend/src/vue/pages/SchoolOfStudyPage.vue
  frontend/src/vue/pages/__tests__/HomePage.test.ts
  frontend/src/vue/pages/__tests__/OccupationPage.test.ts
  frontend/src/vue/pages/__tests__/SchoolOfStudyPage.test.ts
  frontend/src/vue/router/__tests__/router.test.ts
  frontend/src/vue/router/index.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: implement router configuration with TDD for Vue 3 migration (Phase 4.1)
  frontend/PLAN.md
  frontend/src/vue/pages/OccupationPage.vue
  frontend/src/vue/pages/SchoolOfStudyPage.vue
  frontend/src/vue/router/__tests__/index.test.ts
  frontend/src/vue/router/index.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: complete router enhancements for Vue 3 migration (Phase 4.1)
  frontend/PLAN.md
  frontend/src/vue/__tests__/components/App.test.ts
  frontend/src/vue/__tests__/router/index.test.ts
  frontend/src/vue/components/App.vue
  frontend/src/vue/pages/NotFoundPage.vue
  frontend/src/vue/pages/__tests__/NotFoundPage.test.ts
  frontend/src/vue/router/__tests__/guards.test.ts
  frontend/src/vue/router/guards.ts
  frontend/src/vue/router/index.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: complete Phase 4.1 router enhancements with breadcrumbs and deep linking
  frontend/PLAN.md
  frontend/src/vue/components/navigation/Breadcrumbs.vue
  frontend/src/vue/components/navigation/__tests__/Breadcrumbs.test.ts
  frontend/src/vue/router/__tests__/breadcrumbs-integration.test.ts
  frontend/src/vue/router/__tests__/deep-linking.test.ts
  frontend/src/vue/router/__tests__/navigation-paths.test.ts
  frontend/src/vue/router/index.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: complete Phase 4.2 HTML File Updates for Vue 3 migration
  frontend/PLAN.md
  frontend/access_occupation.html
  frontend/access_school_of_study.html
  frontend/access_wagelvl.html
  frontend/index.html
  frontend/src/vue/__tests__/main.test.ts
  frontend/src/vue/main.ts
  frontend/src/vue/styles/index.css
  frontend/travel_time.html
  frontend/vite.config.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: enhance Vue 3 migration with missing pages, error handling, and utility components
  frontend/PLAN.md
  frontend/src/vue/components/utility/EmptyState.vue
  frontend/src/vue/components/utility/ErrorMessage.vue
  frontend/src/vue/components/utility/__tests__/EmptyState.test.ts
  frontend/src/vue/components/utility/__tests__/ErrorMessage.test.ts
  frontend/src/vue/pages/TravelTimePage.vue
  frontend/src/vue/pages/WagePage.vue
  frontend/src/vue/pages/__tests__/TravelTimePage.test.ts
  frontend/src/vue/pages/__tests__/WagePage.test.ts
  frontend/src/vue/router/__tests__/navigation-paths.test.ts
  frontend/src/vue/router/__tests__/router-components.test.ts
  frontend/src/vue/router/index.ts
  frontend/src/vue/stores/__tests__/occupation.test.ts
  frontend/src/vue/stores/__tests__/schoolOfStudy.test.ts
  frontend/src/vue/stores/occupation.ts
  frontend/src/vue/stores/schoolOfStudy.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: implement route lazy loading for Vue 3 migration (Phase 4.5)
  frontend/PLAN.md
  frontend/src/vue/router/__tests__/index.test.ts
  frontend/src/vue/router/__tests__/lazy-loading.test.ts
  frontend/src/vue/router/index.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat: complete Vue 3 migration cleanup (Phase 4.3)
  frontend/PLAN.md
  frontend/access_occupation.html
  frontend/access_school_of_study.html
  frontend/access_wagelvl.html
  frontend/index.html
  frontend/src/__tests__/mocks/jquery.ts
  frontend/src/__tests__/unit/controllers/baseMapController.test.ts
  frontend/src/__tests__/unit/controllers/occupationMapController.loading.test.ts
  frontend/src/__tests__/unit/controllers/occupationMapController.search.test.ts
  frontend/src/__tests__/unit/controllers/occupationMapController.test.ts
  frontend/src/__tests__/unit/controllers/testableBaseMapController.ts
  frontend/src/__tests__/unit/controllers/testableWageMapController.ts
  frontend/src/__tests__/unit/controllers/travelTimeMapController.test.ts
  frontend/src/__tests__/unit/controllers/wageMapController.test.ts
  frontend/src/__tests__/unit/main.test.ts
  frontend/src/__tests__/unit/pages/access_school_of_study.test.ts
  frontend/src/__tests__/unit/school-of-study-simple.test.ts
  frontend/src/__tests__/unit/school-of-study.test.ts
  frontend/src/__tests__/utils/occupationTestHelpers.ts
  frontend/src/js/controllers/TravelTimeMapController.ts
  frontend/src/js/controllers/baseMapController.ts
  frontend/src/js/main.ts
  frontend/src/js/occupation-main.ts
  frontend/src/js/occupation.ts
  frontend/src/js/school-main.ts
  frontend/src/js/school-of-study.ts
  frontend/src/js/travel-time-main.ts
  frontend/src/js/wage-main.ts
  frontend/src/js/wage.ts
  frontend/src/types/global.d.ts
  frontend/src/vue/__tests__/main-auto-init.test.ts
  frontend/src/vue/__tests__/main-router.test.ts
  frontend/src/vue/main.ts
  frontend/travel_time.html
Due: frontend-lint, frontend-type-check, frontend-tests

feat(vue3): complete Phase 4.4 testing migration and enhance performance optimization
  frontend/PLAN.md
  frontend/src/__tests__/unit/api.test.ts
  frontend/src/__tests__/unit/config/build-config.test.ts
  frontend/src/__tests__/unit/services/schoolOfStudyApiService.test.ts
  frontend/vite.config.ts
Due: frontend-lint, frontend-type-check, frontend-tests

docs(vue3): update README with Vue 3 architecture and build improvements
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
Due: none

feat(vue3): add accessibility testing and improvements
  frontend/PLAN.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/vue/__tests__/accessibility/a11y.test.ts
  frontend/src/vue/components/OccupationSelect.vue
  frontend/src/vue/components/__tests__/OccupationSelect.accessibility.test.ts
Due: frontend-lint, frontend-type-check, frontend-tests

docs(vue3): update success criteria checklist
  frontend/PLAN.md
Due: none

feat(vue3): complete Phase 4 migration with deployment documentation
  frontend/DEPLOYMENT.md
  frontend/PLAN.md
  frontend/src/vue/components/map/__tests__/MapContainer.integration.test.ts
  frontend/src/vue/composables/__tests__/useOccupationMap.test.ts
  frontend/src/vue/composables/useOccupationMap.ts
  frontend/src/vue/utils/__tests__/performance.test.ts
  frontend/src/vue/utils/performance.ts
Due: frontend-lint, frontend-type-check, frontend-tests

docs(vue3): add comprehensive migration status report
  frontend/MIGRATION_STATUS.md
Due: none

docs(vue3): update PLAN.md to reflect complete Phase 4 status
  frontend/PLAN.md
Due: none

temp disable tdd-guard
  flake.nix
Due: none

feat(backend): add occupation_raw_counts data to API response
  backend/app/models.py
  backend/app/repositories/occupation.py
  backend/tests/integration/test_api_integration.py
Due: ruff, mypy, backend-unit-tests

feat(vue3): complete home page and navigation, implement occupation map page
  frontend/PLAN.md
  frontend/index.html
  frontend/src/vue/__tests__/accessibility/a11y.test.ts
  frontend/src/vue/components/App.vue
  frontend/src/vue/components/AppHeader.vue
  frontend/src/vue/components/__tests__/AppHeader.test.ts
  frontend/src/vue/components/map/OccupationMap.vue
  frontend/src/vue/components/map/__tests__/OccupationMap.test.ts
  frontend/src/vue/pages/HomePage.vue
  frontend/src/vue/pages/OccupationPage.vue
  frontend/src/vue/pages/__tests__/HomePage.test.ts
  frontend/src/vue/pages/__tests__/OccupationPage.test.ts
Due: frontend-lint, frontend-type-check, frontend-tests

fix(backend): correct column name for earnings field
  backend/app/models.py
  frontend/src/__tests__/unit/utils/mapUtils.test.ts
  frontend/src/js/mapUtils.ts
Due: ruff, mypy, backend-unit-tests, frontend-lint, frontend-type-check, frontend-tests

feat(frontend): calculate percentile from z-score in popups
  frontend/src/js/mapUtils.ts
Due: frontend-lint, frontend-type-check, frontend-tests

fix(frontend): improve popup title clarity
  frontend/src/js/occupation.ts
Due: frontend-lint, frontend-type-check, frontend-tests

chore: update flake.lock
  flake.lock
Due: none

chore(frontend): remove NYC Planning references
  frontend/index.html
  frontend/src/js/constants.ts
Due: frontend-lint, frontend-type-check, frontend-tests

feat(backend): add occupation_raw_counts data to API response (#40)
  backend/app/models.py
  backend/app/repositories/occupation.py
  backend/tests/integration/test_api_integration.py
  flake.lock
  frontend/index.html
  frontend/src/__tests__/unit/utils/mapUtils.test.ts
  frontend/src/js/constants.ts
  frontend/src/js/mapUtils.ts
  frontend/src/js/occupation.ts
Due: ruff, mypy, backend-unit-tests, frontend-lint, frontend-type-check, frontend-tests

Path conditions:
  ruff: any of: ^backend/.*\.py$ and \.py$
  mypy: any of: ^backend/.*\.py$ and \.py$
  backend-unit-tests: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/src/.*\.(js|ts|jsx|tsx)$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-tests: any of: ^frontend/src/.*\.(js|ts|jsx|tsx)$
