Repository Dallas-College-LMIC/spatial-jobs-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, backend-unit-tests, frontend-lint, frontend-typecheck, frontend-tests

.pre-commit-config.yaml:

repos:
  # General hooks that apply to all files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=5000']
      - id: check-yaml
        exclude: '^frontend/.*\.ya?ml$'  # Frontend YAML files may have special syntax
      - id: check-json
        exclude: 'tsconfig.*\.json$'  # TSConfig files allow comments
      - id: check-toml
      - id: check-ast
        files: \.py$
      - id: debug-statements
        files: \.py$

  # Python/Backend specific hooks - use local ruff from Nix
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        types: [python]
        args: [check, --fix]
        files: ^backend/.*\.py$

  # MyPy for backend type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        files: ^backend/.*\.py$
        args: [backend/app/]
        pass_filenames: false
        require_serial: true

  # Backend unit tests (fast)
  - repo: local
    hooks:
      - id: backend-unit-tests
        name: Backend Unit Tests
        entry: scripts/pre-commit/backend-tests.sh
        language: script
        files: ^backend/.*\.py$
        pass_filenames: false
        require_serial: true

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: scripts/pre-commit/frontend-lint.sh
        language: script
        files: ^frontend/src/.*\.(js|ts|jsx|tsx)$
        pass_filenames: false
        require_serial: true

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: scripts/pre-commit/frontend-typecheck.sh
        language: script
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: frontend-tests
        name: Frontend Unit Tests
        entry: scripts/pre-commit/frontend-tests.sh
        language: script
        files: ^frontend/src/.*\.(js|ts|jsx|tsx)$
        pass_filenames: false
        require_serial: true

# Configuration
default_stages: [pre-commit]
fail_fast: true

Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

fix: update Claude Code Review workflow permissions
  .github/workflows/claude-code-review.yml
Due: none

feat: enable comprehensive bash access for Claude GitHub Actions
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

feat: add CodeRabbit configuration with assertive profile
  .coderabbit.yaml
Due: none

fix: restrict Claude workflow tool access per security review
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Update .github/workflows/claude.yml
  .github/workflows/claude.yml
Due: none

fix: address CodeRabbit YAML syntax and config issues
  .coderabbit.yaml
  .github/workflows/claude.yml
Due: none

fix syntax error
  .github/workflows/claude.yml
Due: none

Update Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

remove GitHub Actions workflow files
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

claude workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

update flake.nix
  flake.nix
Due: none

delete fake setting
  .claude/settings.json
Due: none

feat: replace shell scripts with justfile commands
  .envrc
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  backend.just
  backend/app/occupation_cache.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/factories.py
  backend/tests/integration/test_api_integration.py
  backend/tests/test_example_endpoints.py
  backend/tests/test_helpers.py
  backend/tests/test_infrastructure.py
  backend/tests/unit/test_database.py
  backend/tests/unit/test_models.py
  backend/tests/unit/test_school_of_study_endpoints.py
  backend/uv.lock
  flake.nix
  frontend.just
  frontend/package-lock.json
  frontend/package.json
  justfile
  scripts/pre-commit/backend-tests.sh
  scripts/pre-commit/frontend-lint.sh
  scripts/pre-commit/frontend-tests.sh
  scripts/pre-commit/frontend-typecheck.sh
Due: ruff, mypy, backend-unit-tests

docs: add CLAUDE.md for Claude Code guidance
  CLAUDE.md
Due: none

chore: update development dependencies and tooling configuration
  .claude/settings.json
  .gitignore
  backend/pyproject.toml
  backend/uv.lock
  flake.lock
  flake.nix
  frontend/package-lock.json
  frontend/package.json
  frontend/vitest.config.ts
Due: frontend-typecheck

update type-check
  .pre-commit-config.yaml
  CLAUDE.md
  backend.just
  frontend.just
Due: none

Update frontend/vitest.config.ts
  frontend/vitest.config.ts
Due: frontend-typecheck

test: add simple math utility to verify tdd-guard integration
  frontend/src/js/utils/__tests__/mathUtils.test.ts
  frontend/src/js/utils/mathUtils.ts
  frontend/vitest.config.ts
Due: frontend-lint, frontend-typecheck, frontend-tests

remove project env files
  flake.nix
Due: none

strict typing
  backend/pyproject.toml
Due: none

get rid of test file
  frontend/src/js/utils/mathUtils.ts
Due: frontend-lint, frontend-typecheck, frontend-tests

get rid of test file
  frontend/src/js/utils/__tests__/mathUtils.test.ts
Due: frontend-lint, frontend-typecheck, frontend-tests

fix: update CI workflow to use default devShell
  .github/workflows/ci.yml
Due: none

fix: add missing type annotations to satisfy strict mypy
  backend/app/database.py
  backend/app/main.py
  backend/app/occupation_cache.py
  backend/app/repositories/base.py
  backend/app/services.py
  backend/pyproject.toml
Due: ruff, mypy, backend-unit-tests

put .claudes in gitignore
  .gitignore
Due: none

feat: make just commands accept file arguments for faster pre-commit
  .pre-commit-config.yaml
  backend.just
  frontend.just
Due: none

fix: use relative paths in Claude settings hooks
  .claude/settings.json
Due: none

Update .claude/settings.json
  .claude/settings.json
Due: none

fix: clean up backend imports and fix justfile syntax errors
  backend.just
  backend/app/database.py
  frontend.just
  frontend/gh-errors.txt
  frontend/src/__tests__/unit/services/occupationCacheService.test.ts.bak
Due: ruff, mypy, backend-unit-tests

test: verify pre-commit hooks work
  test_file.txt
Due: none

fix: resolve pre-commit hook path handling issues
  backend.just
  frontend.just
Due: none

fix: prevent pre-commit from passing filenames to test commands
  .pre-commit-config.yaml
  backend/test_python.py
Due: ruff, mypy, backend-unit-tests

cleanup: remove temporary test files
  backend/test_python.py
  test_file.txt
Due: ruff, mypy, backend-unit-tests

feat: implement structured error handling for FastAPI backend
  IMPROVEMENT_PLAN.md
  backend/app/main.py
  backend/tests/unit/test_main.py
  frontend/src/__tests__/unit/types/api-type-safety.test.ts
Due: ruff, mypy, backend-unit-tests, frontend-lint, frontend-typecheck, frontend-tests

fix: configure ESLint to recognize vitest globals in test files
  IMPROVEMENT_PLAN.md
  frontend/eslint.config.js
  frontend/src/__tests__/unit/types/api-type-safety.test.ts
Due: frontend-lint, frontend-typecheck, frontend-tests

fix: prevent pre-commit from passing filenames to frontend type-check
  .pre-commit-config.yaml
Due: none

feat: add isochrone type definitions and update API service
  frontend/src/__tests__/unit/types/api-type-safety.test.ts
  frontend/src/js/api.ts
  frontend/src/js/controllers/TravelTimeMapController.ts
  frontend/src/types/api.ts
Due: frontend-lint, frontend-typecheck, frontend-tests
