Repository Dallas-College-LMIC/spatial-jobs-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, backend-unit-tests, frontend-lint, frontend-typecheck, frontend-tests

.pre-commit-config.yaml:

repos:
  # General hooks that apply to all files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=5000']
      - id: check-yaml
        exclude: '^frontend/.*\.ya?ml$'  # Frontend YAML files may have special syntax
      - id: check-json
        exclude: 'tsconfig.*\.json$'  # TSConfig files allow comments
      - id: check-toml
      - id: check-ast
        files: \.py$
      - id: debug-statements
        files: \.py$

  # Python/Backend specific hooks - use local ruff from Nix
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        types: [python]
        args: [check, --fix]
        files: ^backend/.*\.py$

  # MyPy for backend type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        files: ^backend/.*\.py$
        args: [backend/app/]
        pass_filenames: false
        require_serial: true

  # Backend unit tests (fast)
  - repo: local
    hooks:
      - id: backend-unit-tests
        name: Backend Unit Tests
        entry: scripts/pre-commit/backend-tests.sh
        language: script
        files: ^backend/.*\.py$
        pass_filenames: false
        require_serial: true

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: scripts/pre-commit/frontend-lint.sh
        language: script
        files: ^frontend/src/.*\.(js|ts|jsx|tsx)$
        pass_filenames: false
        require_serial: true

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: scripts/pre-commit/frontend-typecheck.sh
        language: script
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: frontend-tests
        name: Frontend Unit Tests
        entry: scripts/pre-commit/frontend-tests.sh
        language: script
        files: ^frontend/src/.*\.(js|ts|jsx|tsx)$
        pass_filenames: false
        require_serial: true

# Configuration
default_stages: [pre-commit]
fail_fast: true

Fix flaky performance test in CI
  frontend/src/__tests__/performance/occupationCache.test.ts
Due: frontend-lint, frontend-typecheck, frontend-tests

Fix Nix frontend build by regenerating package-lock.json
  frontend/package-lock.json
Due: none

Use Nix for frontend tests and type checking in CI
  .github/workflows/ci.yml
  CLAUDE.md
  frontend/CLAUDE.md
Due: none

Remove redundant frontend build from CI workflow
  .github/workflows/ci.yml
Due: none

Separate build and deploy workflows for better pipeline control
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  CLAUDE.md
Due: none

Enable Build workflow for pull requests
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

Add sequential deployment with automatic rollback
  .github/workflows/deploy.yml
Due: none

Fix frontend build configuration for different deployment targets
  CLAUDE.md
  flake.nix
  frontend/CLAUDE.md
  frontend/build-local.sh
  frontend/package.json
  frontend/vite.config.ts
Due: frontend-typecheck

Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

Add tdd-guard integration for enhanced test-driven development
  .claude/settings.json
  frontend/vitest.config.ts
  package-lock.json
  package.json
Due: frontend-typecheck

Remove TDD Guard integration and clean up project structure
  .claude/settings.json
  .gitignore
  flake.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

fix env
  .env.example
  .envrc
Due: none

Implement School of Study database models and schemas (TDD)
  backend/app/models.py
  backend/app/services.py
  backend/tests/unit/test_models.py
  backend/tests/unit/test_school_of_study_service.py
Due: ruff, mypy, backend-unit-tests

Fix Unicode box-drawing characters in documentation
  README.md
  frontend/CLAUDE.md
  frontend/README.md
Due: none

Fix Unicode box-drawing characters in documentation
  README.md
  backend/app/main.py
  backend/tests/conftest.py
  backend/tests/integration/test_school_of_study_endpoints.py
  backend/tests/unit/test_school_of_study_endpoints.py
  frontend/CLAUDE.md
  frontend/README.md
Due: ruff, mypy, backend-unit-tests

feat: implement School of Study TDD services and controller (Issue #11)
  frontend/access_school_of_study.html
  frontend/src/__tests__/fixtures/apiResponses.ts
  frontend/src/__tests__/unit/pages/access_school_of_study.test.ts
  frontend/src/__tests__/unit/services/schoolOfStudyApiService.separate.test.ts
  frontend/src/__tests__/unit/services/schoolOfStudyApiService.test.ts
  frontend/src/__tests__/unit/services/schoolOfStudyCacheService.test.ts
  frontend/src/js/api.ts
  frontend/src/js/school-main.ts
  frontend/src/js/school-of-study.ts
  frontend/src/js/services/schoolOfStudyApiService.ts
  frontend/src/js/services/schoolOfStudyCacheService.ts
  frontend/src/types/api.ts
  frontend/vite.config.ts
Due: frontend-lint, frontend-typecheck, frontend-tests

Implement comprehensive TDD for Issue #12: End-to-End Integration & Documentation
  backend/app/main.py
  backend/app/services.py
  backend/tests/unit/test_main.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/unit/school-of-study-simple.test.ts
  frontend/src/components/navigation.ts.bak
  frontend/temp_navigation_fix.patch
  frontend/vite.config.ts.bak
Due: ruff, mypy, backend-unit-tests, frontend-lint, frontend-typecheck, frontend-tests

test: increase frontend test coverage from 70% to 80.93%
  frontend/src/__tests__/unit/api.test.ts
  frontend/src/__tests__/unit/school-of-study.test.ts
  frontend/src/__tests__/unit/utils/mapUtils.test.ts
Due: frontend-lint, frontend-typecheck, frontend-tests

Move nixos and postgres MCP servers to local configuration
  .mcp.json
  .mcp.local.json
Due: none

Move all MCP servers to local configuration
  .mcp.json
  .mcp.local.json
Due: none

fix: update Mapbox GL JS mock to handle layer-specific events
  frontend/src/__tests__/mocks/mapbox-gl.ts
Due: frontend-lint, frontend-typecheck, frontend-tests

Remove temporary and backup files
  frontend/src/components/navigation.ts.bak
  frontend/temp_navigation_fix.patch
  frontend/vite.config.ts.bak
Due: none

Disable MCP in Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

Switch Claude Code Review action from beta to v1
  .github/workflows/claude-code-review.yml
Due: none

Switch Claude Code Review action to stable v0.0.9
  .github/workflows/claude-code-review.yml
Due: none

fix: improve CI/CD path filtering to prevent unnecessary builds
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

feat: prevent unnecessary deployments when only docs change
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: none

fix: properly detect file changes in workflow_run events
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: none

fix: use explicit parent SHA for paths-filter base
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: none

feat: refactor navigation to use component instead of hardcoded HTML
  frontend/access_occupation.html
  frontend/access_school_of_study.html
  frontend/access_wagelvl.html
  frontend/index.html
  frontend/src/__tests__/unit/components/navigation.test.ts
  frontend/src/__tests__/unit/main.test.ts
  frontend/src/__tests__/unit/pages/access_school_of_study.test.ts
  frontend/src/components/navigation.ts
  frontend/src/js/main.ts
  frontend/src/js/occupation-main.ts
  frontend/src/js/school-main.ts
  frontend/src/js/travel-time-main.ts
  frontend/src/js/wage-main.ts
  frontend/travel_time.html
Due: frontend-lint, frontend-typecheck, frontend-tests

update mcp
  .mcp.json
  .mcp.local.json
Due: none

fix: update GitHub Actions to use claude-code-requests action
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix: frontend deployment when only frontend changes
  .github/workflows/deploy.yml
Due: none

feat: add manual deployment trigger to deploy workflow
  .github/workflows/deploy.yml
Due: none

chore: remove Claude workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

perf: optimize CI workflow with parallel jobs and reduced redundancy
  .github/workflows/ci.yml
Due: none

chore: update Claude configuration and documentation structure
  .claude/hooks/post-edit-format.sh
  .claude/hooks/post-session-summary.sh
  .claude/hooks/pre-bash-check.sh
  .claude/settings.json
  AGENTS.md
  CLAUDE.md
  README.md
  backend/CLAUDE.md
  frontend/CLAUDE.md
Due: none

Remove tdd-guard dependency and clean up testing configuration
  .gitignore
  frontend/package.json
  frontend/vitest.config.ts
Due: frontend-typecheck

refactor: implement repository pattern for data access layer
  backend/app/main.py
  backend/app/models.py
  backend/app/repositories/__init__.py
  backend/app/repositories/base.py
  backend/app/repositories/occupation.py
  backend/app/repositories/school_of_study.py
  backend/app/repositories/travel_time.py
  backend/app/services.py
  backend/tests/unit/test_main.py
  backend/tests/unit/test_occupation_service.py
  backend/tests/unit/test_school_of_study_service.py
  backend/tests/unit/test_services.py
Due: ruff, mypy, backend-unit-tests
